

---
import Layout from "../layouts/Layout.astro";
---

<Layout title="BiblioRecursoCVA">
    <main class="flex  md:py-36 py-24">
        <div class="container mx-auto px-4 md:px-6">
            <div class="max-w-3xl mx-auto">
              <h1 class="text-3xl font-bold text-gray-900  mb-8">Créditos</h1>
              <div class="bg-white  rounded-lg shadow-md p-6 md:p-8">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                  <div class="space-y-4">
                    <div>
                      <h3 class="text-lg font-semibold text-gray-900 ">Desarrollador</h3>
                      <ul class="space-y-2 text-gray-600 ">
                        <li>
                          <div class="flex items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="w-5 h-5 mr-2"
                            >
                              <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                              <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                            <a target="_blank" href="https://jonatandlr.vercel.app/"
                            class="hover:text-blue-500 transition duration-500 ease-in-out"
                            >Jonatan De La Rosa - Desarrollador principal</a>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div>
                      <h3 class="text-lg font-semibold text-gray-900 ">
                        Coordinadora del CVA y Proceso de Enseñanza
                      </h3>
                      <ul class="space-y-2 text-gray-600 ">
                        <li>
                          <div class="flex items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="w-5 h-5 mr-2"
                            >
                              <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
                              <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                            <span>Dora Elizabeth García Olivier - Coordinadora</span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="space-y-4">
                    <div>
                      <h3 class="text-lg font-semibold text-gray-900 ">Modelos 3D</h3>
                      <ul class="space-y-2 text-gray-600 ">
                        <li>
                          <div class="flex items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="w-5 h-5 mr-2"
                            >
                              <circle cx="19" cy="19" r="2"></circle>
                              <circle cx="5" cy="5" r="2"></circle>
                              <path d="M5 7v12h12"></path>
                              <path d="m5 19 6-6"></path>
                            </svg>
                            <span>Adultos - Spline</span>
                          </div>
                        </li>
                        <li>
                          <div class="flex items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="w-5 h-5 mr-2"
                            >
                              <circle cx="19" cy="19" r="2"></circle>
                              <circle cx="5" cy="5" r="2"></circle>
                              <path d="M5 7v12h12"></path>
                              <path d="m5 19 6-6"></path>
                            </svg>
                            <span>Jóvenes- Spline</span>
                          </div>
                        </li>
                        <li>
                          <div class="flex items-center">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="w-5 h-5 mr-2"
                            >
                              <circle cx="19" cy="19" r="2"></circle>
                              <circle cx="5" cy="5" r="2"></circle>
                              <path d="M5 7v12h12"></path>
                              <path d="m5 19 6-6"></path>
                            </svg>
                            <span>Niños- Spline</span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </main>
</Layout>