---
import Layout from "../layouts/Layout.astro";
import TitleMain from "../components/TitleMain.astro";
import Principal from "../components/Principal.astro";
---

<Layout title="Welcome to Astro." estilo="overflow-hidden">
  <main class=" flex-grow  " id="rotationScene">
    <TitleMain title="RecursoExploraCVA" />
    <Principal />
  </main>
</Layout>
