---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import TitleMain from "../components/TitleMain.astro";
import Recursos from "../components/Recursos.astro";
---

<Layout title="Welcome to Astro.">
  <NavBar />
  <main class="relative -z-10">
    <TitleMain title="RecursoExploraCVA" />
    <Recursos />
  </main>
</Layout>
