---
import LinkRecursos from "../components/ReactComponents/LinkRecursos";
import RecursosContainer from "../components/ReactComponents/RecursosContainer";
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/ReactComponents/SearchBar";
import Title3D from "../components/Title3D.astro";
import TitleMain from "../components/TitleMain.astro";
---

<Layout title="BiblioExploraCVA" estilo="">
  <section class="justify-center items-center md:mt-10 mt-20 pt-6 ">
    
    <RecursosContainer client:load />
  </section>
</Layout>
