---
import LinkRecursos from "../components/ReactComponents/LinkRecursos";
import RecursosContainer from "../components/ReactComponents/RecursosContainer";
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/ReactComponents/SearchBar";
---

<Layout title="Welcome to Astro.">
  <section class="justify-center items-center ">
    <RecursosContainer client:load />
  </section>
</Layout>
