---
interface Props {
  title: string;
  description: string;
  image: string;
  link: string;
}
const {
  title = "Title",
  description = "Description",
  image = "https://via.placeholder.com/128x131",
  link = "#",
} = Astro.props;
---

<div
  class="animate-fade-in animate duration-300 w-[334px] h-[139px] bg-black rounded-[20px] font-['Poppins'] border-2 border-blue-500 flex overflow-auto"
>
  <div>
    <img class="w-32 h-full rounded-tl-[14px] rounded-bl-[14px]" src={image} />
  </div>
  <div class="pl-4 pt-2 flex flex-col">
    <div class="text-white text-2xl font-medium">
      {title}
    </div>
    <div class="w-[174px] text-white text-xs font-medium">
      {description}
    </div>
    <a href={link} class="text-white text-[10px] font-medium"> Ver mas </a>
  </div>
</div>

