<!-- NavBar -->
<nav
  class="w-full flex justify-between animate-fade-in animate-duration-900 px-3"
>
  <div class="flex justify-center">
    <a
      href="/"
      class="hover:scale-105 hover:opacity-90 transition inline-block"
    >
      <img src="/LogoTec.png" alt="Logo" class="md:block hidden w-[250px]" />
      <img src="/LogoTecMobile.png" alt="Logo" class="block md:hidden w-[50px]" />

    </a>
  </div>
  <div class="flex justify-center  items-center">
    <a
      href="https://www.centroscomunitariosdeaprendizaje.org.mx/"
      target="_blank"
      class="hover:scale-105 hover:opacity-90 transition inline-block"
    >
      <img src="/LogoCVA.svg" alt="LogoCVA" class="md:w-[150px] w-[100px]" />
    </a>
  </div>

  <!-- <div class="ml-5 md:ml-0">
    <a
      href="https://www.tec-monterrey.mx/"
      class="w-[195px] h-[16px] md:w-[222px] md:h-[43px] hover:scale-105 hover:opacity-90 transition inline-block border"
      target="_blank"
    >
      <img src="/LogoTec.png" alt="LogoTec"  class="md:block hidden"/>
      <img src="/LogoTecMobile.png" alt="LogoTec" class=" border"/>
    </a>
  </div>

  <div class="mr-5 md:mr-0">
    <a
      href="https://www.centroscomunitariosdeaprendizaje.org.mx/"
      target="_blank"
      class="hover:scale-105 hover:opacity-90 transition inline-block md:w-[115px] md:h-[40px] w-[95px] h-[20px]"
    >
      <img src="/LogoCVA.svg" alt="LogoCVA" class="border" />
    </a>
  </div> -->
</nav>
