---
import Botoncito from "./ReactComponents/Botoncito";
// import { Image } from "astro:assets";
// import LogoCVA from "../../public/LogoCVA.svg";
// import LogoTec from "../../public/LogoTec.png";
---

<!-- NavBar -->
<section
  class="w-full flex justify-between animate-fade-in animate-duration-900"
>
  <div class="ml-5 md:ml-0">
    <a
      href="https://www.tec-monterrey.mx/"
      class="w-[195px] h-[16px] md:w-[222px] md:h-[43px] hover:scale-105 hover:opacity-90 transition inline-block"
      target="_blank"
    >
      <img src="/LogoTec.png" alt="LogoTec" />
    </a>
  </div>
  <!-- <Botoncito client:load /> -->
  <div class="mr-5 md:mr-0">
    <a
      href="https://www.centroscomunitariosdeaprendizaje.org.mx/"
      target="_blank"
      class="hover:scale-105 hover:opacity-90 transition inline-block md:w-[115px] md:h-[40px] w-[95px] h-[20px]"
    >
      <img src="/LogoCVA.svg" alt="LogoCVA" />
    </a>
  </div>
</section>
