<!-- NavBar -->
<nav
  class="fixed w-full flex justify-between md:px-10 px-3  animate-fade-in animate-duration-900  border z-50 bg-white md:py-6 py-3"
>
    <div class="flex justify-center">
      <a
        href="/"
        class="hover:scale-105 hover:opacity-90 transition inline-block"
      >
        <img
          src="/TecDesktop.png"
          alt="Logo"
          class="md:block hidden w-[200px]"
        />
        <img src="/TecMovil.png" alt="Logo" class="block md:hidden w-[50px]" />
      </a>
    </div>
    <div class="flex justify-center items-center">
      <a
        href="https://www.centroscomunitariosdeaprendizaje.org.mx/"
        target="_blank"
        class="hover:scale-105 hover:opacity-90 transition inline-block"
      >
        <img
          src="/CVADesktop.png"
          alt="Logo"
          class="md:block hidden w-[250px]"
        />
        <img src="/CVAMovil.png" alt="Logo" class="block md:hidden w-[100px]" />
      </a>
    </div>

</nav>
