<!-- NavBar -->
<section class="w-full flex justify-between animate-fade-in animate-duration-900 ">
  <a href="">
    <img src="/LogoCVA.svg" alt="LogoCVA" />
  </a>
  <a href="">
    <img src="/LogoTec.svg" alt="LogoTec" />
  </a>
</section>
