---
import Personaje from "./Personajes.astro";
import Botoncito from "./ReactComponents/Botoncito";
---


<section id="Recursos" class=" w-full min-h-[600px] absolute top-0 grid grid-cols-3 gap-3 justify-center animate-fade-in animate-delay-500 animate-duration-1000 text-white ">
  <Personaje canvaName="model1"/>
  <Botoncito client:load idName="AdultoBoton" estilo="flex justify-end items-center"/>
  <Botoncito client:load idName="JovenesBoton" estilo="flex justify-center items-center"/> 
  <Botoncito client:load idName="NinosBoton" estilo="flex justify-start items-center"/> 
</section>
