---
interface Props {
  title: string;
  estilo: string;
}

const { title,estilo } = Astro.props;
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import NavBar from "../components/NavBar.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro descriptioSn" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="https://www.centroscomunitariosdeaprendizaje.org.mx/sites/default/files/logo-cva.png " />
    <!-- <link rel="prefetch" href="https://draft.spline.design/FYNc176nuhXezDzz/scene.splinecode"> -->
    <title>{title}</title>
  </head>
  <body class={estilo}>
    <NavBar />
    <div
      class="max-w-7xl md:px-2 px-0 md:pt-16 pt-0 mx-auto h-screen flex flex-col"
    >
      <slot />
    </div>
  </body>
</html>
<style is:global>
  html {
    font-family: "Poppins", system-ui, sans-serif;
    background: #ffff;
    background-size: 224px;
  }
  body {
    /* overflow: hidden; */
  }
</style>
